clean.sh
list-vscode-extensions.sh
shell.nix
vscode.sh
testdata
sphinx-env
*.pyc
*.mo
*.swp
.DS_Store
Thumb.db
desktop.ini
*.*~
*~
build/*
output
build.log
QGISUserGuide.log
*.doctree
.doctrees/
#i18n/*
live
.idea
virtualenv
source/i18n/*/conf.py
source/static/
venv
.venv
user.mk
.vscode
