* text=auto eol=lf

*.rst text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.po text eol=lf
*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
