sphinx-env
*.pyc
*.mo
*.swp
.DS_Store
Thumb.db
desktop.ini
*.*~
*~
build/*
output
build.log
*.doctree
.doctrees/
#i18n/*
live
.idea
virtualenv
source/i18n/*/conf.py
source/static/documentation_guidelines
source/static/gentle_gis_introduction
source/static/pyqgis_developer_cookbook
source/static/training_manual
source/static/user_manual
