Adrien Glauser <adrien.glauser@gmail.com>  Adrien <adrien.glauser@gmail.com>
Adrien Glauser <adrien.glauser@gmail.com>  Adrien <mrnycticorax@gmail.com>

Alessandro Pasotti <elpaso@itopen.it>  Alessandro Pasotti <apasotti@gmail.com>
Alessandro Pasotti <elpaso@itopen.it>  elpaso <apasotti@gmail.com>
Alessandro Pasotti <elpaso@itopen.it>  elpaso <elpaso@itopen.it>
Alessandro Pasotti <elpaso@itopen.it>  elpaso <elpaso@users.noreply.github.com>

Alexandre Busquets <abusquets@gmail.com>  Alexandre <abusquets@gmail.com>

Alexandre Neto <senhor.neto@gmail.com>  Alexandre <senhor.neto@gmail.com>
Alexandre Neto <senhor.neto@gmail.com>  SrNetoChan <senhor.neto@gmail.com>

Andre Mano <andre.s.mano@gmail.com>  andremano <andre.s.mano@gmail.com>

Andre Da Silva Mano <DaSilvaA@utwks29322.ad.utwente.nl>  andremano <DaSilvaA@utwks29322.ad.utwente.nl>

Andreas Neumann <a.neumann@carto.net>  Andreas Neumann <a.neumann@carto.n>

Anita Graser <anitagraser@gmx.at>  anitagraser <anitagraser@gmx.at>

Anne Ghisla <aghisla@c8812cc2-4d05-0410-92ff-de0c093fc19c>  aghisla <aghisla@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Antoine Facchini <antoine@facchini.fr>  Antoine <antoine@facchini.fr>

Ariadni-Karolina Alexiou <carolinegr@gmail.com>  carolinux <carolinegr@gmail.com>

Arnaud Morvan <arnaud.morvan@camptocamp.com>  arnaud.morvan@camptocamp.com <arnaud.morvan@camptocamp.com>

Ayodele Adeyemo <christad92@gmail.com>  christad92 <christad92@gmail.com>

Báthory Péter <bathory86p@gmail.com>  Péter Báthory <peter.bathory@cartographia.hu> 

Benoit De Mezzo <benoit.de.mezzo@oslandia.com>  bdm-oslandia <benoit.de.mezzo@oslandia.com>
Benoit De Mezzo <benoit.de.mezzo@oslandia.com>  benoitdm-oslandia <64401067+benoitdm-oslandia@users.noreply.github.com>

Björn <pathmapper@posteo.de>  pathmapper <pathmapper@posteo.de>

Clemens Raffler <clemens.raffler@gmail.com>  Clemens Raffler <root676@users.noreply.github.com>

Cody Martin <codytylermartin@gmail.com>  Cody Martin <34431661+Codym48@users.noreply.github.com>

D'Hont René-Luc <rldhont@gmail.com>  rldhont <rldhont@gmail.com>

Damiano Lombardi <lombardi.damiano@gmail.com>  Damiano Lombardi <damiano@opengis.ch>

Dick Groskamp <dikgro@yahoo.co.uk>  DiGro <dikgro@yahoo.co.uk>

Diethard Jansen <diethard.jansen@gmail.com>  diethard2 <diethard.jansen@gmail.com>

Dominic Keller <dominicjkeller@gmail.com>  badewannencaptain <dominicjkeller@gmail.com>

Éric Lemoine <eric.lemoine@gmail.com>  Éric Lemoine <eric.lemoine@oslandia.com>

Étienne Trimaille <gustrimaille@yahoo.fr>  Etienne Trimaille <gustrimaille@ahoo.fr>
Étienne Trimaille <gustrimaille@yahoo.fr>  Etienne Trimaille <gustrimaille@yahoo.fr>

Felix Feckler <felix.feckler@gmx.de>  felixfeckler <55293275+felixfeckler@users.noreply.github.com>

Fran Raga <franka1986@gmail.com>  Fran <franka1986@gmail.com>
Fran Raga <franka1986@gmail.com>  Fran Raga <All4Gis@users.noreply.github.com>

Gary Sherman <gsherman@c8812cc2-4d05-0410-92ff-de0c093fc19c>  gsherman <gsherman@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Germán Carrillo <gcarrillo@linuxmail.org>  Germap <gcarrillo@linuxmail.org>
Germán Carrillo <gcarrillo@linuxmail.org>  Germap <geotux_tuxman@linuxmail.org>

Giovanni Allegri <giohappy@gmail.com>  giohappy <giohappy@gmail.com>

Giovanni Manghi <giovanni.manghi@naturalgis.pt>  gioman <giovanni.manghi@faunalia.pt>

Harrissou Sant-anna <delazj@gmail.com>  Harrissou Sant-Anna <harrissou@Mac-mini-Harrissou.local>
Harrissou Sant-anna <delazj@gmail.com>  DelazJ <DelazJ@users.noreply.github.com>
Harrissou Sant-anna <delazj@gmail.com>  DelazJ <delazj@gmail.com>

Ian Maddaus <spamforian@protonmail.com>  Ian Maddaus <IanMadd@users.noreply.github.com>
Ian Maddaus <spamforian@protonmail.com>  IanMadd <spamforian@protonmail.com>
Ian Maddaus <spamforian@protonmail.com>  Unknown <spamforian@protonmail.com>

Ivan Ivanov <ivan.ivanov@suricactus.com>  Ivan Ivanov <suricactus@users.noreply.github.com>

Jacky Volpes <jacky.volpes@oslandia.com>  Jacky Volpes <34267385+Djedouas@users.noreply.github.com>

Jakob Miksch <jakob.miksch@posteo.eu>  Jakob Miksch <info@jakobmiksch.eu>
Jakob Miksch <jakob.miksch@posteo.eu>  bufferclip <jakob.miksch@posteo.eu>

Janneke van Dijk <janneke.qgis@gmail.com>  janneke <janneke.qgis@gmail.com>
Janneke van Dijk <janneke.qgis@gmail.com>  janneke-qgis <janneke.qgis@gmail.com>

Jean-Roc Morreale <jr.morreale@enoreth.net>  Jean Roc <jr.morreale@enoreth.net>
Jean-Roc Morreale <jr.morreale@enoreth.net>  MORREALE Jean-Roc <jr.morreale@enoreth.net>
Jean-Roc Morreale <jr.morreale@enoreth.net>  jrm <jrm@c8812cc2-4d05-0410-92ff-de0c093fc19c>

João Gaspar <joaofrgaspar@gmail.com>  João Gaspar <joao.f.r.gaspar@gmail.com>

Johannes Kröger <johannes.kroeger@wheregroup.com>  Hannes <kannes@users.noreply.github.com>

Jonathan Willitts <JonathanWillitts@users.noreply.github.com>  JonathanWillitts <JonathanWillitts@users.noreply.github.com>

Jörn Gutzeit <info@umwelt-it>  Jörn Gutzeit <61974701+Gutzeit555@users.noreply.github.com>
Jörn Gutzeit <info@umwelt-it>  Gutzeit555 <61974701+Gutzeit555@users.noreply.github.com>
Jörn Gutzeit <info@umwelt-it>  Gutzeit555 <info@umwelt-it>

Juergen E. Fischer <jef@norbit.de>  Jürgen Fischer <jef@norbit.de>

Juernjakob Dugge <juernjakob@gmail.com>  Jürnjakob Dugge <jdugge@users.noreply.github.com>
Juernjakob Dugge <juernjakob@gmail.com>  jdugge <jdugge@users.noreply.github.com>

Julien Moura <Guts@users.noreply.github.com>  Julien <Guts@users.noreply.github.com>

Konstantinos Nikolaou <konikolaou9@gmail.com>  purplexed <konikolaou9@gmail.com>

Larissa Junek <junek@gbd-consult.de>  Larissa Junek <junek@linuxhotel101.linuxhotel.de>
Larissa Junek <junek@gbd-consult.de>  Larissa Junek <junek@localhost.(none)>
Larissa Junek <junek@gbd-consult.de>  lajunek <47246213+lajunek@users.noreply.github.com>
Larissa Junek <junek@gbd-consult.de>  lajunek <l.junek@gmx.net>
Larissa Junek <junek@gbd-consult.de>  junek <junek@gbd-consult.de>

Loïc Bartoletti <l.bartoletti@free.fr>  Loïc Bartoletti <lbartoletti@users.noreply.github.com>
Loïc Bartoletti <l.bartoletti@free.fr>  lbartoletti <lbartoletti@users.noreply.github.com>

Luca Casagrande <luca.casagrande@gmail.com>  lucacasagrande <luca.casagrande@gmail.com>

Luigi Pirelli <luipir@gmail.com>  Luigi Pirelli <lpirelli@boundlessgeo.com>

Maning Sambale <emmanuel.sambale@gmail.com>  maning <emmanuel.sambale@gmail.com>

Marco Bernasocchi <marco@opengis.ch>  Marco Bernasocchi <marco@bernawebdesign.ch>

Marco Hugentobler <marco.hugentobler@sourcepole.ch>  mhugent <marco.hugentobler@sourcepole.ch>

Marie Silvestre <marie.silvestre@gmail.com>  MarieSilvestre <3002741+MarieSilvestre@users.noreply.github.com>
Marie Silvestre <marie.silvestre@gmail.com>  MarieSilvestre <marie.silvestre@gmail.com>

Martina Savarese <martina.savarese@gmail.com>  stra2da <martina.savarese@gmail.com>

Matteo Ghetta <matteo.ghetta@gmail.com>  Matteo <matteo.ghetta@gmail.com>
Matteo Ghetta <matteo.ghetta@gmail.com>  Matteo Ghetta <matteo.ghetta@gmail.com>
Matteo Ghetta <matteo.ghetta@gmail.com>  matteo <matteo.ghetta@gmail.com>
Matteo Ghetta <matteo.ghetta@gmail.com>  matteo <matteo@matteo-Q320-P320.(none)>
Matteo Ghetta <matteo.ghetta@gmail.com>  ghtmtt <matteo.ghetta@gmail.com>

Matthias Kuhn <matthias@opengis.ch>  Matthias Kuhn <matthias.kuhn@gmx.ch>
Matthias Kuhn <matthias@opengis.ch>  m-kuhn <m-kuhn@users.noreply.github.com>

Mezene <mezwor@gmail.com>  mezwor <mezwor@gmail.com>

Mie Winstrup <mie@septima.dk>  MieWinstrup <miewinstrup@gmail.com>

Milo van der Linden <milo@dogodigi.net>  milovanderlinden <milo@dogodigi.net>

Nick Bearman <nick@nickbearman.me.uk>  Nick Bearman <nick@geospatialtrainingsolutions.co.uk>

Nyall Dawson <nyall.dawson@gmail.com>  nyalldawson <nyall.dawson@gmail.com>

Otto Dassau <dassau@gbd-consult.de>  Otto Dassau <dassau@gbdlaptop.speedport.ip>
Otto Dassau <dassau@gbd-consult.de>  Otto Dassau <dassau@nature.speedport.ip>
Otto Dassau <dassau@gbd-consult.de>  »Otto <dassau@gbd-consult.de>
Otto Dassau <dassau@gbd-consult.de>  dassau <dassau@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Otto Dassau <dassau@gbd-consult.de>  dassau <dassau@gbd-consult.de>

Paolo Cavallini <cavallini@faunalia.it>  Paolo <cavallini@faunalia.it>
Paolo Cavallini <cavallini@faunalia.it>  pcav <cavallini@faunalia.it>
Paolo Cavallini <cavallini@faunalia.it>  pcav <pcav@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Paolo Corti <pcorti@gmail.com>  admin <pcorti@gmail.com>
Paolo Corti <pcorti@gmail.com>  capooti <pcorti@gmail.com>
Paolo Corti <pcorti@gmail.com>  capooti <capooti@capooti-mint.(none)>
Paolo Corti <pcorti@gmail.com>  capooti <paolo.corti@jrc.ec.europa.eu>

Patrice Pineault <TurboGraphxBeige@runbox.com>  Patrice Pineault <59714546+TurboGraphxBeige@users.noreply.github.com>
Patrice Pineault <TurboGraphxBeige@runbox.com>  TurboGraphxBeige <TurboGraphxBeige@runbox.com>

Paul Blottiere <blottiere.paul@gmail.com>  Blottiere Paul <blottiere.paul@gmail.com>

Philip Albrecht <albrecht@gbd-consult.de>  PhilipAlbrecht <45685457+PhilipAlbrecht@users.noreply.github.com>
Philip Albrecht <albrecht@gbd-consult.de>  albrecht <albrecht@gbd-consult.de> 

Régis Haubourg <regis@qgis.org>  Régis Haubourg <1629853+haubourg@users.noreply.github.com>
Régis Haubourg <regis@qgis.org>  Régis Haubourg <regis.haubourg@oslandia.com>

Richard Duivenvoorde <richard@duif.net>  Richard Duivenvoorde <rduivenvoorde@qgis.osgeo.org>

Rosa Aguilar <r.m.aguilardearchila@utwente.nl>  Rosa Aguilar <r.aguilar@utwente.nl>

Ryan Welfle <ryan.welfle@gmail.com>  Ryan <ryan.welfle@gmail.com>

Saber Razmjooei <saber.razmjooei@lutraconsulting.co.uk>  Sab <saber.razmjooei@lutraconsulting.co.uk>

Sebastian Gutwein <bas@rdgland.com>  baswein <bas@rdgland.com>

Selma Vidimlic Husic <selma@kartoza.com>  selmaVH1 <138306509+selmaVH1@users.noreply.github.com>

Shane Carey <careyshan@gmail.com>  careyshan <careyshan@gmail.com>

Stephanie May <mizmay@gmail.com>  Stephanie May <mizmay@Stephanies-MacBook-Air.local>

Sylvain Poulain <kikislater@users.noreply.github.com>  Sylvain POULAIN <kikislater@users.noreply.github.com>

Thomas Gratier <thomas_gratier@yahoo.fr>  ThomasG77 <thomas_gratier@yahoo.fr>

Tim Sutton <tim@kartoza.com>  Tim Sutton <tim@linfiniti.com>
Tim Sutton <tim@kartoza.com>  timlinux <timlinux@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Tobias Schmetzer <67278094+tschmetzer@users.noreply.github.com>  tschmetzer <67278094+tschmetzer@users.noreply.github.com>

Tom Chadwin <tomchadwin@astuntechnology.com>  Tom Chadwin <tom.chadwin@nnpa.org.uk>

Tomasz Taraś <tomasztaras@outlook.com>  tomczk <tomasztaras@outlook.com>
Tomasz Taraś <tomasztaras@outlook.com>  tt <tomasztaras@outlook.com>

Tudor Bărăscu <tudor.barascu@qtibia.ro>  Tudor Barascu <tudor.barascu@qtibia.ro>
Tudor Bărăscu <tudor.barascu@qtibia.ro>  Your Name <tudor.barascu@qtibia.ro>

Uroš Preložnik <uros00@gmail.com>  Uros P. <uros00@gmail.com>
Uroš Preložnik <uros00@gmail.com>  uprel <uros00@gmail.com>

Victor Olaya <volayaf@gmail.com>  volaya <volayaf@gmail.com>

Vincent Mora <vincent.mora@oslandia.com>  vmora <vincent.mora@oslandia.com>

Werner Macho <werner.macho@gmail.com>  macho <macho@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Yves Jacolin <yves.jacolin@camptocamp.com>  Yves Jacolin <yjacolin@free.fr>
Yves Jacolin <yves.jacolin@camptocamp.com>  yjacolin <yves@georezo.net>
Yves Jacolin <yves.jacolin@camptocamp.com>  Jacolin <yves.jacolin@camptocamp.com>
