pdflatex
pyYAML
Sphinx==7.4.6
sphinx_copybutton
sphinx-intl
sphinx_rtd_theme
sphinx_togglebutton
sphinxext-rediraffe
# sphinxcontrib-jquery
atoma==0.0.17
attrs==22.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.1.1
defusedxml==0.7.1
exceptiongroup==1.1.0
idna==3.4
iniconfig==1.1.1
lxml==4.9.2
packaging==22.0
pluggy==1.0.0
pydantic==1.10.4
pytest==7.2.0
python-dateutil==2.8.2
requests==2.28.1
rss-parser==0.2.4
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.13
icalendar==5.0.12
