# Memo: Dependencies should be added to https://github.com/qgis/QGIS-Website/blob/master/REQUIREMENTS.txt
# Used for docker image builds

-r https://raw.githubusercontent.com/qgis/QGIS-Website/master/REQUIREMENTS.txt
pdflatex
pyYAML
Sphinx==7.2.6
sphinx_copybutton
sphinx-intl
sphinx_rtd_theme
sphinx_togglebutton
sphinxext-rediraffe
# sphinxcontrib-jquery