# Memo: Should also be added to https://github.com/qgis/QGIS-Website/blob/master/REQUIREMENTS.txt
# for docker image builds

Sphinx
sphinx-intl
sphinx_rtd_theme
sphinx-intl[transifex]
sphinxext-rediraffe
sphinx_togglebutton
sphinx_copybutton
transifex-client
PyYAML
pdflatex
