/* adding qgis specific css here, overriding bootstrap or adding new classes */


/* color for disclaimer (used when files need to be revised)*/
.disclaimer {
    color:red;
    border:2px solid red;
    padding:5px 50px 5px 50px;
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
