/* adding qgis specific css here, overriding bootstrap or adding new classes */


/* color for disclaimer (used when files need to be revised)*/
.disclaimer {
    color:red;
    border:2px solid red;
    padding:5px 50px 5px 50px;
}
