/* adding qgis specific css here, overriding bootstrap or adding new classes */


/* color for disclaimer (used when files need to be revised)*/
.disclaimer {
  display:block;
  margin-top:5px;
  color:red;
  border:2px solid red;
  padding:5px 50px 5px 50px;

}
/* locales (flags) list */
#locales li{
  float: left;
  list-style-type: none;
  padding: 0 1px 1px 1px;
  cursor:pointer;
}
#locales {
  margin-left:2px;
  display:inline-block;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
    background-color:lightgray;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 280px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 280px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 70px;
    margin-top: 50px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}

/*
our sphinx :refs: become anchors. But linking to an anchor in top of the page
makes it hide it beneath our header/menu.
To jump a little lower (below header/menu), we use a negative margin hack, see
http://nicolasgallagher.com/jump-links-and-viewport-positioning/
and
http://coding.smashingmagazine.com/2009/07/27/the-definitive-guide-to-using-negative-margins/
*/
div.section:before {
   content:"";
   display:block;
   height:60px;
   margin:-60px 0 0 0;      /*this is working for non frontpages*/
}
/* special case for marketing divs on frontpage */
div.marketing div.section:before {
   content:"";
   display:block;
   height:60px;
   margin:0 0 -60px 0;  /*this is working for frontpage*/
}
/* span a little more difficult, hopefully this is unique enough 
for the :ref: spans we use */
div .section span:before {
   content:"";
   display:block;
   height:60px;
   margin:0 0 0 0;
}

/** 
from for  bootstrap fluid.html
to be included BEFORE the responsiveness css
**/
body {
    padding-bottom: 40px;
    padding-top: 60px;
}
.sidebar-nav {
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 9px;
}
.navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
}

/* makes better responsive behaviour for search input */
.search input[type=text] {
  width:90%;
}
