body {
  padding-top: 18px;
}
.guilabel { 
  font-weight: bold; 
  border: 1px solid #ddd; 
  background: #eee;
  color: #08C;
  padding-left: 3px;
  padding-right: 3px;
}

.menuselection { 
  font-weight: bold; 
  border: 1px dashed #ddd; 
  background: #eee;
  color: #E44A00;
  padding-left: 3px;
  padding-right: 3px;
}

.kbd {
  font-weight: bold; 
  border: 1px solid #ddd; 
  background: #eee;
  color: #E22;
  padding-left: 3px;
  padding-right: 3px;
}

/* Suppress anchor markers */
.headerlink { display: none;}

.admonition-title { 
  font-size: larger;
  display: block;
  border-bottom: 1px #ddd solid;
  margin-left: 38px;
}
/* theming of warning boxes class=".admonition .warning" */
.warning{
  background-image: url("img/warning.png");
}
/* theming of warning boxes class=".admonition .note" */
.note {
  background-image: url("img/note.png");
}
.admonition {
  background-position: 22px 15px;
  background-repeat: no-repeat;
}

ul > .current > a,
ul > .current > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
  display: block;
}

.sidebar-nav > ul,
.sidebar-nav > ul > li > ul{
  list-style: none;
}
/* Selected lesson */
.sidebar-nav > ul > li > ul > li {
  margin-left: -10px;
  margin-right: -0px;
}
/* Selected module */
.sidebar-nav > ul {
  margin-left: -20px;
  margin-right: -20px;
}

.brand {
  font-weight: heavy;
  font-size: larger;
}
