/* Customize for top bar (testing and outdated docs)*/

.wy-side-nav-search {
   padding-top: 2.0rem !important;
}

@media screen and (min-width: 767px) {

   .wy-nav-content {
      padding-top: 2.0rem !important;
   }
}

@media screen and (max-width: 766px) {

   .wy-nav-content-wrap {
      padding-top: 2.5rem !important;
   }
}

@media screen and (max-width: 480px) {

   .wy-nav-content-wrap {
      padding-top: 3.0rem !important;
   }
}

@media screen and (max-width: 400px) {

   .wy-nav-content-wrap {
      padding-top: 3.5rem !important;
   }
}
