



name: "Set Issue Label for issues from main QGIS repo"
on:
  issues:
    types: [opened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: Naturalclar/issue-action@v2.0.2
        with:
          title-or-body: "both"
          parameters: |
            [ {"keywords": ["QGIS version: 3.22"], "labels": ["3.22"]},
              {"keywords": ["QGIS version: 3.24"], "labels": ["3.24"]},
              {"keywords": ["QGIS version: 3.26"], "labels": ["3.26"]},
              {"keywords": ["QGIS version: 3.28"], "labels": ["3.28"]}
            ]
          github-token: "${{ secrets.GITHUB_TOKEN }}"
