name: "Set Issue Label for issues from main QGIS repo"
on:
  issues:
    types: [opened]

permissions:
  contents: read

jobs:
  test:
    permissions:
      issues: write
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      BODY: "${{ github.event.issue.body }}"
      MILESTONE: 19 # See https://api.github.com/repos/qgis/QGIS-Documentation/milestones
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443

      - id: find_version_label
        name: Find Target version
        run: |
          LABEL=$(echo "${{ env.BODY }}" | sed -n -r "s/.*QGIS version: ([[:digit:]]\.[[:digit:]]+).*/\1/p")
          echo "label: ${LABEL}"
          if [[ -n "${LABEL}" ]]; then
            echo "label=${LABEL}" >> $GITHUB_OUTPUT
          else
            echo "no version found so no automatic labeling"
          fi

      - id: assign_version
        name: Assign version Label
        if: ${{ steps.find_version_label.outputs.label }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
              github.rest.issues.addLabels({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                labels: ["${{ steps.find_version_label.outputs.label }}"]
              })

      - id: assign_milestone
        name: Assign milestone
        if: ${{ steps.find_version_label.outputs.label }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            github.rest.issues.update({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              milestone: ${{ env.MILESTONE }}
            })
