name: Backport
on:
  pull_request_target:
    types:
      - closed
      - labeled

permissions:
  contents: read

jobs:
  backport:
    env:
      BACKPORT_TOKEN: ${{ secrets.BACKPORT_TOKEN }}
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    name: Backport
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - name: Backport Bot
        id: backport
        uses: m-kuhn/backport@7f3cab83e4b3b26aefcffda21851c3dc3d389f45  #v1.2.7
        with:
          github_token: ${{ env.BACKPORT_TOKEN }}
