name: Docs builds

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on: 
  push:
    paths-ignore:
      - 'locale/**'

  pull_request:
    paths-ignore:
      - 'locale/**'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        format: [html, pdf]

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          files.pythonhosted.org:443
          github.com:443
          pypi.org:443
          qgis.org:443
          raw.githubusercontent.com:443

    - name: Check out repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 1
    - name: Set up Python 3.12
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: '3.12'
    - name: Install Requirements
      run: |
        if [[ ${{ matrix.format }} != "html" ]]; then
          sudo apt-get update && sudo apt-get install -y texlive-xetex fonts-freefont-otf
        fi

        python -m pip install --upgrade pip
        pip install -r REQUIREMENTS.txt

    - name: Build English ${{ matrix.format }} documentation
      run: |
          make ${{ matrix.format }}
    - name: Upload ${{ matrix.format }} build artifact
      uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4.5.0
      with:
        name: ${{ matrix.format }} build
        path: build/${{ matrix.format }}
        retention-days: 15
