name: Docs builds

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on: 
  push:
    paths-ignore:
      - 'locale/**'

  pull_request:
    paths-ignore:
      - 'locale/**'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        format: [html, pdf]

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Check out repository
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      with:
        fetch-depth: 1
    - name: Set up Python 3.9
      uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
      with:
        python-version: 3.9
    - name: Install Requirements
      run: |
        if [[ ${{ matrix.format }} != "html" ]]; then
          sudo apt-get update && sudo apt-get install -y texlive-xetex fonts-freefont-otf
        fi

        python -m pip install --upgrade pip
        pip install -r REQUIREMENTS.txt

    - name: Build English ${{ matrix.format }} documentation
      run: |
          make ${{ matrix.format }}
    - name: Upload ${{ matrix.format }} build artifact
      uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
      with:
        name: ${{ matrix.format }} build
        path: build/${{ matrix.format }}
        retention-days: 15
