name: Docs builds

on: 
  push:
    paths-ignore:
      - 'locale/**'

  pull_request:
    paths-ignore:
      - 'locale/**'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        format: [html, pdf]

    steps:
    - name: Check out repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install Requirements
      run: |
        if [[ ${{ matrix.format }} != "html" ]]; then
          sudo apt-get update && sudo apt-get install -y texlive-xetex fonts-freefont-otf
        fi

        python -m pip install --upgrade pip
        pip install -r REQUIREMENTS.txt

    - name: Build English ${{ matrix.format }} documentation
      run: |
          make ${{ matrix.format }}
    - name: Upload ${{ matrix.format }} build artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.format }} build
        path: build/${{ matrix.format }}
        retention-days: 15

