name: Doctest build

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    paths-ignore:
      - 'locale/**'

  pull_request:
    paths-ignore:
      - 'locale/**'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  doctest:

    runs-on: ubuntu-latest
    name: Doctest

    services:
      image: docker

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c # v2.9.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        fetch-depth: 1
    - name: Set up Python 3.9
      uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
      with:
        python-version: 3.9
    - name: Pip upgrade
      run: |
          python -m pip install --upgrade pip
    - name: Build test code
      run: |
          make -f docker.mk doctest
    - name: Upload build artifact
      uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b # v4.3.4
      with:
        name: Doctest build
        path: ./build/doctest/output.txt
