name: Translation statistics
# Pull statistics of translation in Transifex

on: 
  schedule:
    # runs tuesday at 6:00 UTC
    - cron: '0 6 * * 2'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ReportTranslationStats:

    permissions:
      contents: write  # for stefanzweifel/git-auto-commit-action to push code in repo
      pull-requests: write  # for peter-evans/enable-pull-request-automerge
      issues: write # for peter-evans/enable-pull-request-automerge
    if: github.repository_owner == 'qgis'
    runs-on: ubuntu-latest

    env:
      TRANSIFEX_PASSWORD: ${{ secrets.TRANSIFEX_PASSWORD }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      LABELS: "Translation, backport release_3.34"

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Check out repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 1

    - name: Set up Python 3.12
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: python3 -m pip install requests

    - name: Report statistics
      run: python3 ./scripts/load_tx_stats.py $TRANSIFEX_PASSWORD

    - id: create_pr
      name: Create Pull Request for master
      uses: peter-evans/create-pull-request@67ccf781d68cd99b580ae25a5c18a1cc84ffff1f # v7.0.6
      with:
        token: ${{ secrets.GH_PAT }}
        push-to-fork: geo-ninja/QGIS-Documentation
        commit-message: Update statistics of translation
        title: Update statistics of translation
        delete-branch: true
        labels: ${{ env.LABELS }}
